.container{
    max-width: 80%;
    background-color: azure;
    padding: 34px;
    margin: auto;
    text-align: center;
    align-content: center;
}

.container h3{
    text-align: center;
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}